#movie {
    width: 40vw;
    height: 80vh;
    border: 2px solid black;
    background-color: lightblue;
    float: left;
}

#movieInfo {
    width: 40vw;
    height: 80vh;
    border: 2px solid black;
    background-color: lightgreen;
    float: left;
    position: relative;
    left: 5vw;
}

#movieSearch {
    position: absolute;
    bottom: 10vh;
}